.app-wrapper, .app-wrapper:after, .app-wrapper:before {
    padding-top: 12px;
    font-size: 18px;
    box-sizing: border-box;
    margin: 0;
    transition: .5s ease-in-out;

}

.main {
    width: 100%;
    min-height: 1px;
}

@media (min-width: 1px) {
    .main {
        flex: 0 0 100%;
        max-width: 100%;
        order: 2;
    }
}

@media (min-width: 1400px) {
    .main {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@font-face {
    font-family: 'Aeroport', --base-font;
    src: url(assets/Aeroport.ttf);
}
@font-face {
    font-family: "Rajdhani";
    src: url(assets/Rajdhani-Regular.ttf);
}

.app-wrapper__container{
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
}

.app-wrapper-content {
    flex: 1 1;
}

