
.pagination{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    gap: 5px;
    margin-bottom: 20px;
}

.pagination li{
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 400;
}

.pagination li:hover{
    background-color:#06c895;
    color:#fff;
    border-radius: 10px;

}

.pagination li.selected{
    background-color: #282830;
    color: white;
    border-radius: 10px;

}
